<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.spring.domain.OrderDetail">
    <id column="userid" jdbcType="DECIMAL" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="productname" />
    <result column="orderid" jdbcType="INTEGER" property="orderid" />
    <result column="basePrice" jdbcType="DECIMAL" property="basePrice" />
    <result column="paywayid" jdbcType="DECIMAL" property="payStyle" />
    <result column="o_name" jdbcType="VARCHAR" property="o_name" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
  </resultMap>
    <sql id="Base_Column_List">
    name, userid, orderid, basePrice, paystyle, o_name, amount
  </sql>
  <select id = "getorderDetail"  resultMap="BaseResultMap">
      select 
       <include refid="Base_Column_List" />
       from detail
       where userid = #{userid} and orderid = #{orderid}
  </select>
  </mapper>